.chat-fix {
  display: flex;
  align-items: center;
}

.chat-fix div,
.chat-fix .user-component__title {
  margin-right: 5px;
}

.chat-fix div {
  margin-top: 3px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
}

.chat-fix div > span {
  font-size: 10px;
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
}

.chat-fix i {
  margin-top: 5px;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}

@keyframes blink {
  0% {
    box-shadow: 0 0 3px 4px rgb(255, 192, 192);
  }
  50% {
    box-shadow: 0 0 3px 2px rgb(255, 192, 192);
  }
  100% {
    box-shadow: 0 0 3px 4px rgb(255, 192, 192);
  }
}

.chats-screen .badge {
  will-change: box-shadow;
  animation: blink 1.5s linear infinite;
}

.chats-screen .badge-none {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0);
}
