.friends-screen__Bookmark,
.friends-screen__Recommend,
.friends-screen__Channel,
.friends-screen__Friends {
  margin-top: 10px;
}

.friends-screen__Bookmark-header,
.friends-screen__Recommend-header,
.friends-screen__Channel-header,
.friends-screen__Friends-header {
  padding: 15px 20px 5px 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 0.2);
  font-size: 13px;
}

.friends-screen__Channel .user-component__column:last-child {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
}

.friends-screen__Channel .user-component__column:last-child span {
  margin-right: 2px;
}

.birthday-mark {
  display: flex;
  align-items: center;
}

@keyframes birthdayMark {
  0% {
    text-shadow: 0 0 1px #fd89f7, 0 0 2px #fd89f7, 0 0 3px #fd89f7;
  }
  50% {
    text-shadow: 0 0 10px #fd89f7, 0 0 15px #fd89f7, 0 0 20px #fd89f7;
  }
  100% {
    text-shadow: 0 0 1px #fd89f7, 0 0 2px #fd89f7, 0 0 3px #fd89f7;
  }
}

.birthday-mark i {
  /* text-shadow: 0 0 3px var(--red), 0 0 4px var(--red), 0 0 5px var(--red); */
  animation: birthdayMark 2s linear infinite;
}

.music {
  border: 2px solid var(--red);
  padding: 5px 15px;
  border-radius: 15px;
}

.music a:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--red),
    0 0 70px var(--red), 0 0 80px var(--red), 0 0 100px var(--red);
}

.music i {
  margin-left: 10px;
  color: var(--red);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 122px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 2s;
}

.splash-screen__background-img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.snitch {
  width: 400px;
  text-align: center;
  z-index: 1000;
  margin-bottom: 30px;
}

#splash-screen span {
  z-index: 1000;
  color: white;
  font-size: 25px;
}
